/.gradle/
.gradle/4.8.1/fileHashes/fileHashes.lock
.gradle/4.8.1/fileHashes/fileHashes.lock
.gradle/4.8.1/fileHashes/fileHashes.lock
.gradle/4.8.1/taskHistory/taskHistory.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
/build/
/.classpath/
